<div class="container footer">
    <div class="grid p-0 m-0 ">
        <div class="col-12 p-col">
            <img src="assets/img/pet-logo-no-bg.png" alt="Store Logo" height="100rem" />
        </div>
    </div>

    <div class="grid p-0 m-0">

        <div class="col-12 p-col">
            <h5>Copyright ©2024 HappyFamily, Inc.</h5>
        </div>
    </div>

    <div class="grid privacy-stuff p-0 m-0">

        <div class="col-2 col-offset-4 p-col">
            <p><a routerLink="/terms">Terms of Service</a></p>
        </div>
        <div class="col-2 p-col">
            <p><a routerLink="/privacy">Privacy Policy</a></p>
        </div>
    </div>
</div>

<router-outlet></router-outlet>