.p-col {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.privacy-stuff {
  font-size: 80%;
}

/* Adjust gutter spacing */
.grid {
  --p-gutter: 10.5rem; /* Adjust this value as needed */
}

.footer {
  background-color: #f0e0c8;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.copyright-text{
  margin: 0px;
}

.store-logo{
  height: 15vh;
  min-height: 5rem;
}
