<div class="container footer">
    <div class="grid p-0 m-0 ">
        <div class="col-12 p-col">
            <img class = "store-logo m-0 p-0" src="assets/img/pet-logo-no-bg.png" alt="Store Logo"/>
        </div>
    </div>

    <div class="grid p-0 m-0">

        <div class="col-12 p-col m-0 p-0">
            <h5 class="m-0">Copyright ©2024 {{ appName }}, Inc.</h5>
        </div>
    </div>

    <div class="grid privacy-stuff p-0">

        <div class="col-2 col-offset-4 p-col p-0">
            <p><a routerLink="/terms">Terms of Service</a></p>
        </div>
        <div class="col-2 p-col m-0 p-0">
            <p><a routerLink="/privacy">Privacy Policy</a></p>
        </div>
    </div>
</div>

<router-outlet></router-outlet>