.p-col {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.privacy-stuff {
  font-size: 80%;
}

.footer {
  background-color: #f0e0c8;
  bottom: 0;
  width: 100vw;
  min-height: 20vh;
}

.copyright-text{
  margin: 0px;
}

.store-logo{
  height: 15vh;
  min-height: 5rem;
}
