<div class="container ">
    <h1>Pet Adoption!</h1>
    <!-- <img src="assets/img/pet-adoption-illustration.svg" alt="Pet adoption" class="pet-logo"> -->
</div>
<div class="grid justify-content-center">
    <div class="col-3">
        <p-card header="Find your soulmate">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/love.svg" class="card-header" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt quisquam repellat libero asperiores earum nam nobis.
            </p>
        </p-card>
    </div>
    <div class="col-3 mx-7">
        <p-card header="Save a life">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/pet-dog.svg" class="card-header" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt quisquam repellat libero asperiores earum nam nobis.
            </p>
        </p-card>
    </div>
    <div class="col-3">
        <p-card header="Be happy!">
            <ng-template pTemplate="header">
                <img src="assets/img/pet-cat.svg" alt="Pet adoption" class="card-header">
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt quisquam repellat libero asperiores earum nam nobis.
            </p>
        </p-card>
    </div>
</div>